body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
    svg {
          width: 100%;
          height: auto;
          max-width: 100%;
          max-height: 100%;
          aspect-ratio: attr(width) / attr(height);
    }
    svg {
      transform: scale(0.8); /* Réduit à 50% de sa taille originale */
      transform-origin: top left; /* Point d'origine de la transformation */
    }
}
